# Practice 2. Python Standard Library

## Lists and Dictionaries

#### 1. Iterate Area List. Write a code printing the following output
the hallway is 11.25 sqm  
the kitchen is 18.0 sqm  
the living room is 20.0 sqm  
the bedroom is 10.75 sqm  
the bathroom is 9.5 sqm

In [ ]:
# 1. Iterate Area List
# A list of areas
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
#################### TODO ####################
# Write code printing the output described in the problem.
for x,y in house :
    print("the",x,"is",y,"sqm")
##############################################

#### 2. Duplicates in Baby Name List
What if there are duplicate values and we want to find all their indices they occur?

In [ ]:
# Recreate a list containing the names: baby_names
baby_names = ['Ximena', 'Aliza', 'Ayden', 'Calvin']

#################### TODO ####################
# Append ‘Aliza‘ to baby_names
baby_names.append('Aliza')

# Print baby_names
print(baby_names)

# Find the position of 'Aliza': position
print(baby_names.index("Aliza"))

# Find all positions that 'Aliza' occurs
for e,i in enumerate(baby_names) :
    if i=="Aliza" : print(e)

# Print baby_names
print(baby_names)
##############################################

#### 3. Common Mistake. What are the types of the following variables?

In [ ]:
# 3. Common mistake
# Understand the tuple type
# Create the normal variable: normal
normal = 'simple'
# Create the mistaken variable: error
error = 'trailing comma', 
#################### TODO ####################
# TODO. Print the types of the above variables
print(type(normal))
print(type(error))
##############################################

#### 4. Set Operations. Get the union and intersection of girl_names and boy_names

In [ ]:
# Lists of baby names
girl_names = ['ALEXIS', 'BLAKE', 'HAZEL', 'ISABELA', 'JAMIE']
boy_names = ['AARON', 'ALEXIS', 'ARMAAN', 'BLAKE', 'DARREN', 'HENRY', 'JOHN', 'MARCUS']
# Hint. Convert lists to sets
#################### TODO ####################
# TODO. Find and print the union: all_names
g_set = set(girl_names)
b_set = set(boy_names)
print(g_set|b_set)
# TODO. Find and print the intersection: overlapping_names
print(g_set&b_set)
##############################################

#### 5. Dictionary Manipulation. Print out the following.
the capital of spain is madrid  
the capital of france is paris  
the capital of germany is bonn  
the capital of norway is oslo  
the capital of italy is rome  
the capital of poland is warsaw  
the capital of australia is vienna

In [ ]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys())
# Print out value that belongs to key 'norway'
print(europe['norway'])

# Add italy to europe
europe['italy']='rome'
# Print out italy in europe
print('italy' in europe)
#################### TODO ####################
# TODO. Add poland to europe
europe["poland"]="warsaw"
# TODO. Print europe
print(europe)

# TODO. Update capital of england to london, that of nethaland to amsterdam
europe["england"]="london"
europe["nethaland"]="amsterdam"

# TODO. Remove poland
del(europe["poland"])
##############################################
# Print europe
print(europe)

In [ ]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }
#################### TODO ####################
# Iterate over europe to print out the following output
europe["italy"] = "rome"
europe["england"] = "london"
europe["nethaland"] = "amsterdam"
for x in europe :
    print("the capital of",x,"is",europe[x])
##############################################

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of england is london
the capital of nethaland is amsterdam

#### Getting Values from Dictionary

In [ ]:
# Where is capital of spain? Search europe for that. 
print(europe.get('spain'))
# What is the type of the following?
print(type(europe.get('korea')))
# Print the capital of japan or "NotFound"
print('japan: {}'.format(europe.get('japan', 'NotFound')))
# Get the default value of key korea as 'NotFound'
europe.setdefault('korea', 'NotFound')
print('korea: {}'.format(europe.get('korea')))
print(europe)

#### 6. Dictionary of Dictionaries. Define a dictionary of dictionaries, and add data to the dictionary

In [ ]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe['france']['capital'])

# Create sub-dictionary data
data = {'capital':'rome','population':59.83}

#################### TODO ####################
# TODO. Add data to europe under key 'italy'
europe["italy"] = data
##############################################

# Print europe
print(europe)

## Sets

In [6]:
ash_pokedex = ['Pikachu', 'Bulbasaur', 'Koffing', 'Spearow', 'Vulpix', 'Wigglytuff', 'Zubat', 'Rattata', 'Psyduck', 'Squirtle']
misty_pokedex = ['Krabby', 'Horsea', 'Slowbro', 'Tentacool', 'Vaporeon', 'Magikarp', 'Poliwag', 'Starmie', 'Psyduck', 'Squirtle']
brock_pokedex = ['Onix', 'Geodude', 'Zubat', 'Golem', 'Vulpix', 'Tauros', 'Kabutops', 'Omastar', 'Machop', 'Dugtrio']

In [7]:
## Comparing Pokedexes
# Convert both lists to sets
ash_set = set(ash_pokedex)
misty_set = set(misty_pokedex)

#### 7. Find the Pokémon that exist in both sets.

In [8]:
# Compute the Pokémons that exist in both sets.
ash_set = set(ash_pokedex)
mis_set = set(misty_pokedex)
bro_set = set(brock_pokedex)
#################### TODO ####################
both = set(ash_set&mis_set&bro_set)
print(both)

##############################################

set()

In [9]:
# Find the Pokémon that Ash has and Misty does not have
ash_only = ash_set.difference(misty_set)
print(ash_only)

{'Spearow', 'Koffing', 'Pikachu', 'Wigglytuff', 'Rattata', 'Zubat', 'Vulpix', 'Bulbasaur'}

#### 8. Find the Pokémon that are in only one set (not both)

In [10]:
# Find the Pokémons that are in only one set (not both)
#################### TODO ####################
unique_to_set = set((ash_set-(mis_set|bro_set))|(mis_set-(ash_set|bro_set))|(bro_set-(ash_set|mis_set)))
print(unique_to_set)

##############################################

{'Spearow', 'Koffing', 'Machop', 'Krabby', 'Vaporeon', 'Wigglytuff', 'Rattata', 'Tauros', 'Poliwag', 'Omastar', 'Dugtrio', 'Onix', 'Magikarp', 'Kabutops', 'Horsea', 'Tentacool', 'Starmie', 'Geodude', 'Pikachu', 'Slowbro', 'Golem', 'Bulbasaur'}

In [11]:
## Searching for Pokémon
# Convert Brock's Pokédex to a set
brock_pokedex_set = set(brock_pokedex)
print(brock_pokedex_set)
ash_pokedex_set = set(ash_pokedex)
print(ash_pokedex_set)

{'Onix', 'Kabutops', 'Omastar', 'Machop', 'Tauros', 'Geodude', 'Vulpix', 'Golem', 'Zubat', 'Dugtrio'}
{'Spearow', 'Koffing', 'Psyduck', 'Rattata', 'Pikachu', 'Wigglytuff', 'Squirtle', 'Vulpix', 'Zubat', 'Bulbasaur'}

In [12]:
# Check if Psyduck is in Ash's list and Brock's list
print('Psyduck' in brock_pokedex)
print('Machop' in ash_pokedex)

False
False

In [ ]:
# Within your IPython console, 
# use %timeit to compare membership testing  
# Check if 'Psyduck' is in ash's pokedex, and check if 'Machop' is in brock's pokedex
# Measure the runtime of each of these operations by using %timeit.
# 1. 'Psyduck' in brock_pokedex_set
# 2. 'Psyduck' in brock_pokedex
# 3. 'Machop' in ash_pokedex_set
# 4. 'Machop' in ash_pokedex

In [17]:
#################### TODO ####################
%timeit "Psyduck" in bro_set
%timeit "Psyduck" in brock_pokedex
%timeit "Machop" in ash_set
%timeit "Machop" in ash_pokedex 
##############################################

35.7 ns ± 0.299 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
118 ns ± 0.82 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
34.3 ns ± 0.336 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
116 ns ± 0.417 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [18]:
## Gathering unique Pokémon
def find_unique_items(data):
    uniques = []

    for item in data:
        if item not in uniques:
            uniques.append(item)

    return uniques

In [19]:
# Use find_unique_items() to collect unique Pokémon names
names = ash_pokedex + misty_pokedex + brock_pokedex
uniq_names_func = find_unique_items(names)
print(len(ash_pokedex) + len(misty_pokedex) + len(brock_pokedex))
print(uniq_names_func)
print(len(uniq_names_func))

# Convert the names list to a set to collect unique Pokémon names
uniq_names_set = set(names)
print(len(uniq_names_set))

30
['Pikachu', 'Bulbasaur', 'Koffing', 'Spearow', 'Vulpix', 'Wigglytuff', 'Zubat', 'Rattata', 'Psyduck', 'Squirtle', 'Krabby', 'Horsea', 'Slowbro', 'Tentacool', 'Vaporeon', 'Magikarp', 'Poliwag', 'Starmie', 'Onix', 'Geodude', 'Golem', 'Tauros', 'Kabutops', 'Omastar', 'Machop', 'Dugtrio']
26
26

In [20]:
# Check that both unique collections are equivalent
print(sorted(uniq_names_func) == sorted(uniq_names_set))

True

In [21]:
# Use the best approach to collect unique primary types and generations
primary_types = ['water', 'rock', 'water', 'fire']
generations = [1, 2, 3, 2, 3, 4, 5]
uniq_types = set(primary_types) 
uniq_gens = set(generations)
print(uniq_types, uniq_gens, sep='\n')

{'fire', 'rock', 'water'}
{1, 2, 3, 4, 5}

In [22]:
%timeit uniq_names_list = find_unique_items(names)
%timeit uniq_names_set = set(names)

5.57 µs ± 74.4 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
594 ns ± 15.6 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

## Functions

#### 9. Squared Sum. Write a function sumSquared(n) calculating the squared sum from 1 to n: $$1^2 + 2^2 + ... + n^2$$

In [ ]:
# Write a function calculating the squared sum from 1 to n
def sumSquared(n):
    #################### TODO ####################
    print((n*(n+1)*(2*n+1))//6)
    pass
    ##############################################

sumSquared(3)

#### 10. Fibonacci Numbers. Write a function returning the Fibonacci sequence with length of n

In [ ]:
# Assume n is always given as n >= 0.
# Write a function returning a list of Fibonacci sequence with length of n
def fiboSequence(n):
    #################### TODO ####################
    fib = [1,1]
    for i in range(2,n) :
        fib.append(fib[i-2]+fib[i-1])
    print(fib)
    pass
    ##############################################

print(fiboSequence(10))

## Pythonic Approach

#### 11. Print a list of strings with first five characters of the strings in list "names"

In [ ]:
# using Non-Pythonic approach
names = ['Jerry', 'Kramer', 'John', 'Elaine', 'George', 'Newman', 'Jane','Bensmaia','Schweighofer']
i = 0
new_list= []
while i < len(names):
    if len(names[i]) <= 5:
        new_list.append(names[i])
    else:
        new_list.append(names[i][:5])
    i += 1
print(new_list)

In [ ]:
#################### TODO ####################
# Print the list with the first 5 characters of each name (same as the above list) in "names"
# Must use for loop
ans = []
for s in names :
    ans.append(s[:5])
print(ans)
##############################################

In [ ]:
#################### TODO ####################
# Print the same list by using list comprehension
ans = [s[:5] for s in names]
print(ans)
##############################################

## Built-In Functions: range(), enumerate(), map(), filter()

#### enumerate()

In [ ]:
# Rewrite the for loop to use enumerate
names = ['Jerry', 'Kramer', 'John', 'Elaine', 'George', 'Newman', 'Jane','Bensmaia','Schweighofer']
indexed_names = []
for i,name in enumerate(names):
    index_name = (i,name)
    indexed_names.append(index_name) 
print(indexed_names)

#### 12. Rewrite the above for loop using list comprehension: indexed_names_comp

In [ ]:
#################### TODO ####################
indexed_names_comp = [(i,names[i]) for i in range(len(names))]
##############################################
print(indexed_names_comp)

In [ ]:
# Unpack an enumerate object with a starting index of one
indexed_names_unpack = [*enumerate(names, start=1)]
print(indexed_names_unpack)

#### map()
map(function, iterable, ...)

In [ ]:
names = ['Jerry', 'Kramer', 'John', 'Elaine', 'George', 'Newman', 'Jane','Bensmaia','Schweighofer']
# Use map to apply str.upper to each element in names
names_map  = map(str.upper, names)

# Print the type of the names_map
print(type(names_map))

#################### TODO ####################
# Unpack names_map into a list "names_uppercase"
names_uppercase = [s for s in names_map]
##############################################

# Print the list created above
print(names_uppercase)

<class 'map'>
['JERRY', 'KRAMER', 'JOHN', 'ELAINE', 'GEORGE', 'NEWMAN', 'JANE', 'BENSMAIA', 'SCHWEIGHOFER']

In [ ]:
numbers1 = [1, 2, 3] 
numbers2 = [4, 5, 6] 
  
result = map(lambda x, y: x + y, numbers1, numbers2) 
result_list = [*map(lambda x, y: x + y, numbers1, numbers2)] 
print(result)
print(result_list)

<map object at 0x1053bc9d0>
[5, 7, 9]

In [ ]:
bases=[10, 20, 30, 40, 50]
index=[1, 2, 3, 4, 5]
powers=list(map(pow, bases, index))
powers_better = [*map(pow, bases, index)]
print(powers_better)

[10, 400, 27000, 2560000, 312500000]

#### 13. Print a list of list_numbers[i] * tuple_numbers[i] for every index i from 0 to len(list_numbers)

In [ ]:
#################### TODO ####################
# Print a list of list_numbers[i] * tuple_numbers[i] for every index i from 0 to len(list_numbers)
list_numbers = [1, 2, 3, 4]
tuple_numbers = (5, 6, 7, 8)
map_iterator = [list_numbers[i]*tuple_numbers[i] for i in range(len(list_numbers))]
print(map_iterator)

##############################################

In [ ]:
#################### TODO ####################
# Still we can get the result although list_numbers and tuple_numbers2 have different sizes.
# with the map function.
list_numbers = [1, 2, 3, 4]
tuple_numbers2 = (5, 6, 7, 8, 9)
map_iterator2 = [list_numbers[i]*tuple_numbers2[i] for i in range(min(len(list_numbers), len(tuple_numbers2)))]
print(map_iterator2)
##############################################

In [ ]:
# Function map() can even have a list of functions instead of a list of data
def multiply(x):
    return (x*x)
def add(x):
    return (x+x)

funcs = [multiply, add]
for i in range(5):
    value = list(map(lambda x: x(i), funcs))
    print(value)

#### filter()
filter(function, iterable)

In [ ]:
creature_names = ['Sammy', 'Ashley', 'Jo', 'Olly', 'Jackie', 'Charlie']

In [ ]:
print(*filter(lambda x: x[0].lower() in 'aeiou', creature_names))

In [26]:
number_list = range(-5, 5)
less_than_zero = [*filter(lambda x: x < 0, number_list)]
print(less_than_zero)

[-5, -4, -3, -2, -1]

#### 14. Compute "less_than_zero2" exactly same as "less_than_zero" above by using list comprehension. Measure the running time of this computation with %timeit.

In [28]:
#################### TODO ####################
%timeit less_than_zero = [i for i in number_list if i<0]
##############################################

567 ns ± 21.5 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

## NOTE

* **Please do not change the names (`P1`, `P2`) of functions and their parameters.**
* **Please keep the return type.**
* **You can create new functions and classes as long as functions `P1`, `P2` corretly `return`.**
* **Running the last cell will evaluate your implementation.**

## Problem 1. Flip and Reverse Image

**Given an n x n binary matrix image, flip the image horizontally, then invert it, and return the resulting image.**

To flip an image horizontally means that each row of the image is reversed.  
For example, flipping [1,1,0] horizontally results in [0,1,1].
To invert an image means that each 0 is replaced by 1, and each 1 is replaced by 0.  
For example, inverting [0,1,1] results in [1,0,0].


### Constraints:

* n == image.length
* n == image[i].length
* 1 <= n <= 20
* images[i][j] is either 0 or 1.

## Example 1

Input: image = [[1,1,0],[1,0,1],[0,0,0]]

Output: [[1,0,0],[0,1,0],[1,1,1]]

Explanation: First reverse each row: [[0,1,1],[1,0,1],[0,0,0]].

Then, invert the image: [[1,0,0],[0,1,0],[1,1,1]]

## Example 2

Input: image = [[1,1,0,0],[1,0,0,1],[0,1,1,1],[1,0,1,0]]

Output: [[1,1,0,0],[0,1,1,0],[0,0,0,1],[1,0,1,0]]

Explanation: First reverse each row: [[0,0,1,1],[1,0,0,1],[1,1,1,0],[0,1,0,1]].

Then invert the image: [[1,1,0,0],[0,1,1,0],[0,0,0,1],[1,0,1,0]]

In [29]:
from typing import List

def P1(image: List[List[int]]) -> List[List[int]]:
    ### TODO: your code here ###
    n = len(image)
    ans = []
    for s in image :
        x = []
        while s :
            if s.pop()==1 : x.append(0)
            else : x.append(1)
        ans.append(x)
    print(ans)
    return

## Problem 2. Unique Morse Representations

International Morse Code defines a standard encoding where each letter is mapped to a series of dots and dashes, as follows:

* 'a' maps to ".-",
* 'b' maps to "-...",
* 'c' maps to "-.-.", and so on.

For convenience, the full table for the 26 letters of the English alphabet is given below:

[".-","-...","-.-.","-..",".","..-.","--.","....","..",".---","-.-",".-..","--","-.","---",".--.","--.-",".-.","...","-","..-","...-",".--","-..-","-.--","--.."]

['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

Given an array of strings words where each word can be written as a concatenation of the Morse code of each letter.

For example, "cab" can be written as "-.-..--...", which is the concatenation of "-.-.", ".-", and "-...". We will call such a concatenation the transformation of a word.
Return the number of different transformations among all words we have.

### Example 1
    Input: words = ["gin","zen","gig","msg"]
    Output: 2
    Explanation: The transformation of each word is:
    "gin" -> "--...-."
    "zen" -> "--...-."
    "gig" -> "--...--."
    "msg" -> "--...--."
    There are 2 different transformations: "--...-." and "--...--.".

### Example 2:
    Input: words = ["a"]
    Output: 1

In [16]:
from typing import List

def P2(words: List[str]) -> int:
    ### TODO: your code here ###
    morse = [".-","-...","-.-.","-..",".","..-.","--.","....","..",".---","-.-",".-..","--","-.","---",".--.","--.-",".-.","...","-","..-","...-",".--","-..-","-.--","--.."]
    ans = set()
    for s in words :
        x = ""
        for i in list(s.rstrip()) :
            x += morse[ord(i)-97]
        ans.add(x)
    print(len(ans))
    return

## Problem 3. Unique Email Addresses

Every valid email consists of a local name and a domain name, separated by the '@' sign. Besides lowercase letters, the email may contain one or more '.' or '+'.

For example, in "gildonghong@hanyang.ac.kr", "martin" is the local name, and "hanyang.ac.kr" is the domain name.
If you add periods '.' between some characters in the local name part of an email address, mail sent there will be forwarded to the same address without dots in the local name. Note that this rule does not apply to domain names.

For example, "gildong.hong@hanyang.ac.kr" and "gildonghong@hanyang.ac.kr" forward to the same email address.
If you add a plus '+' in the local name, everything after the first plus sign will be ignored. This allows certain emails to be filtered. Note that this rule does not apply to domain names.

For example, "gildong.hong+ta@hanyang.ac.kr" will be forwarded to "gildonghong@hanyang.ac.kr".
It is possible to use both of these rules at the same time.

Given an array of strings emails where we send one email to each emails[i], return the number of different addresses that actually receive mail.

## Constraints:
emails[i] consist of lowercase English letters, '+', '.' and '@'.
Each emails[i] contains exactly one '@' character.
All local and domain names are non-empty.
Local names do not start with a '+' character.
Domain names end with the "ac.kr" suffix.

### Example 1
    Input: emails = ["hong.gildong+ta@hanyang.ac.kr","difficult.tomakeexample@hanyang.ac.kr","difficulttomake.example@hanyang.ac.kr"]
    Output: 2
    Explanation: "honggildong@hanyang.ac.kr" and "difficulttomakeexample@hanyang.ac.kr" actually receive mails.

### Example 2
    Input: emails = ["a@hanyang.ac.kr","b@hanyang.ac.kr","c@hanyang.ac.kr"]
    Output: 3

In [6]:
from typing import List

def P3(emails: List[str]) -> int:
    ### TODO: your code here ###
    ans = set()
    for s in emails :
        mail = ""
        for x in list(s.split("@")[0].rstrip()) :
            if x not in [".", "+"] : mail += x
            elif x=="+" : break
        ans.add(mail)
    print(len(ans))
    return