# Practice 2: Python Standard Library

## Python data types: list, set, dictionary

#### 1. Iterate Area List. Write a code printing the following output
the hallway is 11.25 sqm  
the kitchen is 18.0 sqm  
the living room is 20.0 sqm  
the bedroom is 10.75 sqm  
the bathroom is 9.5 sqm

In [ ]:
# 1. Iterate Area List
# A list of areas
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
# TODO: Write code printing the output
# Build a for loop from scratch
for item in house :
    print('the '+ item[0] + ' is '+str(item[1])+ ' sqm' )

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

#### 2. Duplicates in Baby Name List
What if there are duplicate values and we want to find all their indices they occur?

In [ ]:
# Recreate a list containing the names: baby_names
baby_names = ['Ximena', 'Aliza', 'Ayden', 'Calvin']

# append ‘Aliza‘ to baby_names
baby_names.append('Aliza')

# Print baby_names
print(baby_names)

# Find the position of 'Aliza': position
position = baby_names.index('Aliza')

# TODO. Find all positions that 'Aliza' occurs
positions = [i for i, name in enumerate(baby_names) if name == 'Aliza']

# Print baby_names
print(positions)

#### 3. Common Mistake. What are the types of the following variables?

In [ ]:
# 3. Common mistake
# Understand the tuple type
# Create the normal variable: normal
normal = 'simple'
# Create the mistaken variable: error
error = 'trailing comma', 
# TODO. Print the types of the variables
print(type(normal))
print(type(error))

<class 'str'>
<class 'tuple'>

#### 4. Set Operations. Get the union and intersection of girl_names and boy_names

In [ ]:
# Lists of baby names
girl_names = ['ALEXIS', 'BLAKE', 'HAZEL', 'ISABELA', 'JAMIE']
boy_names = ['AARON', 'ALEXIS', 'ARMAAN', 'BLAKE', 'DARREN', 'HENRY', 'JOHN', 'MARCUS']

# TODO. Convert lists to sets
girl_names_set = set(girl_names)
boy_names_set = set(boy_names)
# TODO. Find the union: all_names
all_names = girl_names_set.union(boy_names_set)
# TODO. Print the number of names in all_names 
print(len(all_names))
# TODO. Find the intersection: overlapping_names
overlapping_names = girl_names_set.intersection(boy_names_set)
# Alternatively, you can choose the following.
# overlapping_names = girl_names_set & boy_names_set
# TODO. Print the number of names in overlapping_names 
print(len(overlapping_names))

#### 5. Dictionary Manipulation. Print out the following.
the capital of spain is madrid  
the capital of france is paris  
the capital of germany is bonn  
the capital of norway is oslo  
the capital of italy is rome  
the capital of poland is warsaw  
the capital of australia is vienna

In [ ]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys())
# Print out value that belongs to key 'norway'
print(europe['norway'])

# Add italy to europe
europe['italy']='rome'
# Print out italy in europe
print('italy' in europe)

# Add poland to europe
europe['poland']='warsaw'
# Print europe
print(europe)

# Update capital of england to london, that of nethaland to amsterdam
europe.update({'england':'london', 'nethaland':'amsterdam'})
europe.update(england='london', nethaland='amsterdam')

# Remove poland
del(europe['poland'])

# Print europe
print(europe)

dict_keys(['spain', 'france', 'germany', 'norway'])
oslo
True
{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}
{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'england': 'london', 'nethaland': 'amsterdam'}

In [ ]:
#################### TODO ####################
# Iterate over europe to print out the following output
for key, value in europe.items() :
     print("the capital of "+ key +" is "+ value)
##############################################

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of england is london
the capital of nethaland is amsterdam

Getting Values from Dictionary

In [ ]:
# Where is capital of spain? Search europe for that. 
print(europe.get('spain'))
# What is the type of the following?
print(type(europe.get('korea')))
# Print the capital of japan or "NotFound"
print('japan: {}'.format(europe.get('japan', 'NotFound')))
# TODO. Get the default value of key korea as 'NotFound'
europe.setdefault('korea', 'NotFound')
print('korea: {}'.format(europe.get('korea')))
print(europe)

#### 6. Dictionary of Dictionaries. Define a dictionary of dictionaries, and add data to the dictionary

In [ ]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe['france']['capital'])

# Create sub-dictionary data
data = {'capital':'rome','population':59.83}

#################### TODO ####################
# TODO. Add data to europe under key 'italy'
europe['italy']=data
##############################################

# Print europe
print(europe)

## Sets

In [ ]:
ash_pokedex = ['Pikachu', 'Bulbasaur', 'Koffing', 'Spearow', 'Vulpix', 'Wigglytuff', 'Zubat', 'Rattata', 'Psyduck', 'Squirtle']
misty_pokedex = ['Krabby', 'Horsea', 'Slowbro', 'Tentacool', 'Vaporeon', 'Magikarp', 'Poliwag', 'Starmie', 'Psyduck', 'Squirtle']
brock_pokedex = ['Onix', 'Geodude', 'Zubat', 'Golem', 'Vulpix', 'Tauros', 'Kabutops', 'Omastar', 'Machop', 'Dugtrio']

In [ ]:
## Comparing Pokedexes
# Convert both lists to sets
ash_set = set(ash_pokedex)
misty_set = set(misty_pokedex)

#### 7. Find the Pokémon that exist in both sets.

In [ ]:
#################### TODO ####################
# Compute the Pokémons that exist in both sets.
both = ash_set & misty_set
print(both)
both = ash_set.intersection(misty_set)
print(both)
##############################################

{'Squirtle', 'Psyduck'}
{'Squirtle', 'Psyduck'}

In [ ]:
# Find the Pokémon that Ash has and Misty does not have
ash_only = ash_set.difference(misty_set)
print(ash_only)

{'Vulpix', 'Zubat', 'Wigglytuff', 'Koffing', 'Spearow', 'Pikachu', 'Bulbasaur', 'Rattata'}

#### 8. Find the Pokémon that are in only one set (not both)

In [77]:
# Find the Pokémon that are in only one set (not both)
unique_to_set = ash_set.symmetric_difference(misty_set)
print(unique_to_set)

{'Krabby', 'Slowbro', 'Poliwag', 'Vaporeon', 'Starmie', 'Wigglytuff', 'Bulbasaur', 'Spearow', 'Rattata', 'Vulpix', 'Pikachu', 'Magikarp', 'Koffing', 'Horsea', 'Tentacool', 'Zubat'}

In [78]:
## Searching for Pokémon
# Convert Brock's Pokédex to a set
brock_pokedex_set = set(brock_pokedex)
print(brock_pokedex_set)
ash_pokedex_set = set(ash_pokedex)
print(ash_pokedex_set)

{'Geodude', 'Vulpix', 'Omastar', 'Machop', 'Zubat', 'Dugtrio', 'Onix', 'Tauros', 'Golem', 'Kabutops'}
{'Bulbasaur', 'Spearow', 'Rattata', 'Squirtle', 'Vulpix', 'Pikachu', 'Zubat', 'Psyduck', 'Koffing', 'Wigglytuff'}

In [79]:
# Check if Psyduck is in Brock's list and Ash's list
print('Psyduck' in brock_pokedex)
print('Machop' in ash_pokedex)

False
False

In [80]:
# Within your IPython console, 
# use %timeit to compare membership testing  
# for 'Psyduck' in ash_pokedex, 'Psyduck' in brock_pokedex_set and brock_pokedex
# 'Machop' in ash_pokedex_set, and ash_pokedex (a total of four different timings).

In [81]:
#################### TODO ####################
%timeit 'Psyduck' in brock_pokedex_set
%timeit 'Psyduck' in brock_pokedex
%timeit 'Machop' in ash_pokedex_set
%timeit 'Machop' in ash_pokedex
##############################################

52.5 ns ± 1.08 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
202 ns ± 7.45 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
52.9 ns ± 3.55 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
187 ns ± 1.04 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [82]:
## Gathering unique Pokémon
def find_unique_items(data):
    uniques = []

    for item in data:
        if item not in uniques:
            uniques.append(item)

    return uniques

In [ ]:
# Use find_unique_items() to collect unique Pokémon names
names = ash_pokedex + misty_pokedex + brock_pokedex
uniq_names_func = find_unique_items(names)
print(len(ash_pokedex) + len(misty_pokedex) + len(brock_pokedex))
print(uniq_names_func)
print(len(uniq_names_func))

# Convert the names list to a set to collect unique Pokémon names
uniq_names_set = set(names)
print(len(uniq_names_set))

In [84]:
# Check that both unique collections are equivalent
print(sorted(uniq_names_func) == sorted(uniq_names_set))

True

In [ ]:
# Use the best approach to collect unique primary types and generations
primary_types = ['water', 'rock', 'water', 'fire']
generations = [1, 2, 3, 2, 3, 4, 5]
uniq_types = set(primary_types) 
uniq_gens = set(generations)
print(uniq_types, uniq_gens, sep='\n')

In [ ]:
%timeit uniq_names_list = find_unique_items(names)
%timeit uniq_names_set = set(names)

## Functions

#### 9. Squared Sum. Write a function sumSquared(n) calculating the squared sum from 1 to n: $$1^2 + 2^2 + ... + n^2$$

In [ ]:
# Write a function calculating the squared sum from 1 to n
# Iterative function
def sumSquared(n):
    s = 0
    for i in range(1, n+1):
        s = s + i * i
    return s

sumSquared(3)

In [ ]:
# Recursive function
def sumSquared(n):
    if n == 0:
        return 0
    return sumSquared(n-1) + n * n

sumSquared(3)

In [ ]:
# List comprehension
def sumSquared(n):
    #################### TODO ####################
    return sum([i*i for i in range(1, n+1)])
    ##############################################

sumSquared(3)

#### 10. Fibonacci Numbers. Write a function returning the Fibonacci sequence with length of n

In [ ]:
# Write a function returning the nth element of Fibonacci sequence
# Assume n is always given as n >= 0.
def fibo(n):
    if n <= 1:
        return n
    return fibo(n-2) + fibo(n-1)

def fiboIter(n):
    if n <= 1:
        return n
    a = 0
    b = 1
    for _ in range(n-1):
        c = a + b
        a = b
        b = c      
    return b

# TODO.
# Write a function returning a list of Fibonacci sequence with length of n
def fiboSequence(n):
    seq = []
    for k in range(n):
        seq.append(fiboIter(k))
    return seq

print(fiboSequence(10))

## Pythonic Approach

#### 11. Print a list of strings with first five characters of the strings in list "names"

In [ ]:
# using Non-Pythonic approach
names = ['Jerry', 'Kramer', 'John', 'Elaine', 'George', 'Newman', 'Jane','Bensmaia','Schweighofer']
i = 0
new_list= []
while i < len(names):
    if len(names[i]) <= 5:
        new_list.append(names[i])
    else:
        new_list.append(names[i][:5])
    i += 1
print(new_list)

In [ ]:
#################### TODO ####################
# Print the list with the first 5 characters of each name (same as the above list) in "names"
# Must use for loop
better_list = []
for name in names:
    if len(name) <= 5:
        better_list.append(name)
    else:
        better_list.append(name[:5])
print(better_list)
##############################################

In [ ]:
#################### TODO ####################
# Print the same list by using list comprehension
best_list = [name if len(name)<=5 else name[:5] for name in names]
print(best_list)
##############################################

## Built-In Functions: range(), enumerate(), map(), filter()

#### enumerate()

In [ ]:
# Rewrite the for loop to use enumerate
indexed_names = []
for i,name in enumerate(names):
    index_name = (i,name)
    indexed_names.append(index_name) 
print(indexed_names)

#### 12. Rewrite the above for loop using list comprehension: indexed_names_comp

In [ ]:
#################### TODO ####################
# Rewrite the above for loop using list comprehension
indexed_names_comp = [(i,name) for i,name in enumerate(names)]
print(indexed_names_comp)
##############################################

In [ ]:
# Unpack an enumerate object with a starting index of one
indexed_names_unpack = [*enumerate(names, start=1)]
print(indexed_names_unpack)

#### map()
map(function, iterable, ...)

In [ ]:
# Use map to apply str.upper to each element in names
names_map  = map(str.upper, names)

# Print the type of names_map
print(type(names_map))

#################### TODO ####################
# Unpack names_map into a list "names_uppercase"
names_uppercase = [*names_map]
##############################################

# Print the list created above
print(names_uppercase)

In [ ]:
numbers1 = [1, 2, 3] 
numbers2 = [4, 5, 6] 
  
result = map(lambda x, y: x + y, numbers1, numbers2) 
result_list = [*map(lambda x, y: x + y, numbers1, numbers2)] 
print(result)
print(result_list)

<map object at 0x10809ed00>
[5, 7, 9]

#### 13. Print a list of list_numbers[i] * tuple_numbers[i] for every index i from 0 to len(list_numbers)

In [ ]:
#################### TODO ####################
# Print a list of list_numbers[i] * tuple_numbers[i] for every index i from 0 to len(list_numbers)
list_numbers = [1, 2, 3, 4]
tuple_numbers = (5, 6, 7, 8)
map_iterator = [*map(lambda x, y: x * y, list_numbers, tuple_numbers)]
print(map_iterator)
##############################################

[5, 12, 21, 32]

In [ ]:
#################### TODO ####################
# Still we can get the result although list_numbers and tuple_numbers2 have different sizes.
# with the map function.
list_numbers = [1, 2, 3, 4]
tuple_numbers2 = (5, 6, 7, 8, 9)
map_iterator2 = [*map(lambda x, y: x * y, list_numbers, tuple_numbers)]
print(map_iterator2)
##############################################

[5, 12, 21, 32]

In [ ]:
bases=[10, 20, 30, 40, 50]
index=[1, 2, 3, 4, 5]
powers=list(map(pow, bases, index))
powers_better = [*map(pow, bases, index)]
print(powers_better)

[10, 400, 27000, 2560000, 312500000]

In [ ]:
## map() can even have a list of functions instead of a list of data
def multiply(x):
    return (x*x)
def add(x):
    return (x+x)

funcs = [multiply, add]
for i in range(5):
    value = list(map(lambda x: x(i), funcs))
    print(value)

#### filter()
filter(function, iterable)

In [ ]:
creature_names = ['Sammy', 'Ashley', 'Jo', 'Olly', 'Jackie', 'Charlie']

In [ ]:
print(*filter(lambda x: x[0].lower() in 'aeiou', creature_names))

#### 14. Compute "less_than_zero2" exactly same as "less_than_zero" above by using list comprehension. Measure the running time of this computation with %timeit.

In [3]:
#################### TODO ####################
number_list = range(-5, 5)
less_than_zero = [*filter(lambda x: x < 0, number_list)]
print(less_than_zero)
##############################################

467 ns ± 3.14 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
None

In [4]:
#################### TODO ####################
less_than_zero2 = [k for k in number_list if k<0]
print(less_than_zero2)
##############################################

302 ns ± 0.64 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
None